<%# app/views/admin/brands/edit.html.erb %>

<% content_for :title, "Edit #{@brand.name}" %>

<div class="mb-6">
  <div class="text-sm breadcrumbs">
    <ul>
      <li><%= link_to "Brands", admin_brands_path %></li>
      <li><%= link_to @brand.name, admin_brand_path(@brand) %></li>
      <li>Edit</li>
    </ul>
  </div>
  <h1 class="text-2xl font-bold">Edit <%= @brand.name %></h1>
</div>

<%= render "form", brand: @brand %>
