default: &default
    adapter: postgresql
    encoding: unicode
    pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
    timeout: 5000

development:
    <<: *default
    database: sham_cars_development

test:
    <<: *default
    database: sham_cars_test

production:
    <<: *default
    url: <%= ENV["DATABASE_URL"] %>
